:root {
  --primary-color: #e6c744;
  --secondary-color: #c2c8da;
  --black: #000;
  --white: #fff;

  --poppins: "Poppins", sans-serif;
  --poppins-regular: 400;
  --poppins-medium: 500;
  --poppins-black: 900;
}
