@use "../abstracts/mixins.scss" as m;

.header {
  &__content {
    @include m.d-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  &__brand {
    @include m.d-flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;

    .logo {
      svg {
        width: 2.5rem;
      }
    }

    .brandname {
      font-size: 3rem;
      color: var(--black);
      text-transform: uppercase;
      font-weight: var(--poppins-black);
    }
  }
}
